Django
djangorestframework
psycopg2-binary
Pillow
django-environ
django-filter
django-autoslug
django-countries
django-phonenumber-field
phonenumbers
isort
black
flake8
djangorestframework-simplejwt
PyJWT
djoser
google-cloud-storage
